html {
  background-color: #FFF4D9;
  font-family: sans-serif;
}

.square {
  margin: 0.2em 0.2em;
  width: 3ch;
  height: 3ch;
  border: solid 2px black;
  border-radius: .5em;
}

.color-palette-1 {
  background-color: #FFF4D9;
}


.color-palette-2 {
  background-color: #D3741A;
}

.color-palette-3 {
  background-color: #9FBF5D;
}

body {
  margin: 0 1ch 0 1em;
  width: 95%;
  max-width: 80ch;
  padding: 1%;
  line-height: 1.5;
}
* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  text-decoration: underline;
}

/* nav styles */
nav {
  display: flex;
}
.nav-wrap {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  top: 5rem;
  left: 48px;
  margin: 0;
}
.logo {
  block-size: 2rem;
  aspect-ratio: auto 32/32;
  border-radius: 80%;
}
.nav-links a {
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: #9FBF5D;
  text-transform: uppercase;
}

.nav-wrap a:hover,
.nav-wrap a:focus {
  background-color: #D3741A;
}

.expanded {
  display: unset;
}
/* Dark mode CSS */

.dark .square {
  margin: 0.2em 0.2em;
  width: 3ch;
  height: 3ch;
  border: solid 2px white;
  border-radius: .5em;
}
  
.dark svg { 
  fill: white;
}

.dark .color-palette-1 {
  background-color: #3D220F;
}

html.dark {
  background-color: #3D220F;
  color: #fff;  
}

.dark .nav-links a {
  color: #9FBF5D;
}

.dark a {
  color: #fff;
}

.dark a:visited {
  background-color: #ff9776;
}

.theme-toggle {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.theme-toggle:hover {
  background-color: #D3741A;
}