html {
    background-color: #FFF4D9;
    font-family: sans-serif;
  }

  html.dark {
    background-color: #3D220F;
    color: #fff;  
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  .dark a {
    color: #fff;
  }

  .dark a:visited {
    background-color: #ff9776;
  }

  .square {
    margin: 0.2em 0.2em;
    width: 3ch;
    height: 3ch;
    border: solid 2px black;
    border-radius: .5em;
  }

  .dark .square {
    margin: 0.2em 0.2em;
    width: 3ch;
    height: 3ch;
    border: solid 2px white;
    border-radius: .5em;
  }

  .color-palette-1 {
    background-color: #FFF4D9;
  }

  .dark .color-palette-1 {
    background-color: #3D220F;
  }

  .color-palette-2 {
    background-color: #D3741A;
  }

  .color-palette-3 {
    background-color: #9FBF5D;
  }
  
  body {
    margin: 0 1ch 0 1em;
    width: 95%;
    max-width: 80ch;
    padding: 1%;
    line-height: 1.5;
  }

  nav {
    display: flex;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  
  h2 {
    text-decoration: underline;
  }

  /* nav styles */

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 5rem;
  left: 48px;
  margin: 0;
}
.logo {
  max-block-size: 100%;
  block-size: 4rem;
  aspect-ratio: auto 64/64;
  object-fit: contain;
}
.nav-links a {
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: #9FBF5D;
  text-transform: uppercase;
}

.nav-wrap a:hover,
.nav-wrap a:focus {
  background-color: #D3741A;
}

.expanded {
  display: unset;
}