html {
    background-color: #BAC1B8;
    font-family: sans-serif;
  }

  html.dark {
    background-color: #3F473D;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  .dark a {
    color: #fff;
  }

  .dark a:visited {
    background-color: #ff9776;
  }

  .square {
    margin: 0.2em 0.2em;
    width: 3ch;
    height: 3ch;
    border: solid 2px black;
    border-radius: .5em;
  }

  .dark .square {
    margin: 0.2em 0.2em;
    width: 3ch;
    height: 3ch;
    border: solid 2px white;
    border-radius: .5em;
  }

  .color-palette-1 {
    background-color: #BAC1B8;
  }

  .dark .color-palette-1 {
    background-color: #3F473D;
  }

  .color-palette-2 {
    background-color: #58A4B0;
  }

  .color-palette-3 {
    background-color: #0C7C59;
  }
  
  body {
    margin: 0 1ch 0 1em;
    width: 95%;
    max-width: 80ch;
    padding: 1%;
    line-height: 1.5;
  }

  nav {
    display: flex;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #58A4B0;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #07835C;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #58A4B0;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }

}