---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
<p>Hello again, Myles here. Welcome to my personal site. In between jobs, hobbies and countries.</p>
<p>I've been an avid video game liker since first playing Halo and Half-Life 2 on my uncle's PC. I was 6 years old then. I got stuck in the water turbine 'puzzle' during the metro escape section and gave up.</p>
<p>Since then I've been through many consoles and genres and currently enjoy titles such as Rain World, Devil May Cry 3, Disco Elysium and Metroid Fusion (my beloved). I have a soft-spot for Earthbound-likes too.</p>
<p>Outside of games, I've been building a hunger for 90s DnB, J-Pop and jungle music. Casiopea's Mint Jams and Taeko Onuki's Aventure are some of my favorite albums. I also find any music with a violin particularly tasty.</p>
<p>In an effort to consume less and create more; I've made this site. One day I might update the bottom of this page with something cool I've made. Or not.</p>
</BaseLayout>