---
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from "../components/Social.astro";
const pageTitle = "Workbench";
---
<BaseLayout pageTitle={pageTitle}>
    <p>Dumping ground for various little snippets from this project and elsewhere</p>
    <hr>
    <h2>Astro Snippets:</h2>
    <span>
        <Social platform="github" username="GlackPac" />
        <Social platform="x" username ="GlackPac" />   
    </span>
</BaseLayout>