---
import { Image } from 'astro:assets';
const {src, alt} = Astro.props;
---

<div class="imgbox">
    <Image src={src} alt={alt} class="center-fit"/>
</div>
<style>
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            width: 100%;
            max-height: 100vh;
            height: auto;
            aspect-ratio: auto 700/700;
        }
</style>