---
import Social from "./Social.astro"
---
<style>
    footer {
      margin-top: 1rem;
      line-height: 0.5;
    }
</style>

<footer>
    <hr>
    <p>GlackPac | 2024</p>
    <Social platform="github" username="GlackPac" /> |
</footer>