---
import Social from "./Social.astro"
---
<style>
    footer {
      margin-top: 1rem;
      line-height: 0.5;
      
    }

    .footer-content {
      display: flex
    }
</style>

<footer>
    <hr>
    
    <p>GlackPac | 2024</p>
      <div class="footer-content">
      <div class="square color-palette-1" />
      <div class="square color-palette-2" />
      <div class="square color-palette-3" />
    </div>
</footer>