---
import Navigation from "./Navigation.astro"
import ThemeToggle from "./ThemeToggle.astro"
---
<div>
    <header>
        <nav class="nav-wrap">
            <Navigation />
            <ThemeToggle />
        </nav>
        <hr/>
    </header>
</div>

