---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/workbench/">Workbench</a>
    <!-- Tags feel a bit too help-site esque for what I'm going for -->
    <!-- <a href="/tags/">Tags</a> -->
</div>