---
import Icon from "./Icon.astro";
---
<a href="/" class="logo">
    <Icon svg="favicon" size="32">
</a>
<nav class="nav-links">
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/workbench/">Misc.</a>
</nav>