---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pageTitle } = Astro.props;
---
<html transition:animate="none" lang="en">
	<head>
		<!-- <script is:inline>
			// The configured mode is stored in local storage
			const isDarkMode = localStorage.getItem('theme');
		
			// Set theme to 'dark' if darkMode = 'true'
			const theme = isDarkMode === 'true' ? 'dark' : '';
		
			// Put dark class on html tag to enable dark mode
			document.querySelector("html").className = theme;
		  </script> -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header/>
    <h1 transition:animate="slide">{pageTitle}</h1>
    <slot />
		<Footer/>
		<script is:inline>
			document.addEventListener('astro:page-load', () => {
				document.querySelector('.hamburger').addEventListener('click', () => {
				document.querySelector('.nav-links').classList.toggle('expanded');
				});
			});
		</script>
	</body>
</html>
